<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.soldaplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sold"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sold"
        android:supportsRtl="true"
        android:theme="@style/LoadingTheme">
        <activity android:name=".Activity.Activities.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.Activities.LoginActivity" />
        <activity
            android:name=".Activity.Activities.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance" />
        <activity android:name=".Activity.Activities.RegisterStepOneActivity" />
        <activity android:name=".Activity.Activities.RegisterStepTwoActivity" />
        <activity
            android:name=".Activity.Activities.AuctionInformationActivity"
            android:label="@string/title_activity_auction_information"
            android:parentActivityName=".Activity.Activities.MainActivity"
            android:theme="@style/LoadingTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.soldaplication.Activity.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activity.Activities.StoreCalculatorActivity"
            android:label="@string/title_activity_store_calculator"
            android:parentActivityName=".Activity.Activities.MainActivity"
            android:theme="@style/LoadingTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.soldaplication.Activity.Activities.MainActivity" />
        </activity>
    </application>

</manifest>